<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/templates/myPage/css/myPage-style.css">
    <link rel="stylesheet" href="/templates/myPage/css/header.css">
   

</head>
<body>
    
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        
        <div class="myPage-wallpaper">
            <img src="../images/wallpaper.png" id="wallpaper" >
        </div>

        <section class="myPage-middle">
        
            <div class="myPage-middle-profile">
        
                <img src="../images/logo.jpg" id="memberProfile">
                <span id="nickName" th:text="*{memberNickname}">닉네임</span>
                <p id="email" th:text="*{memberEmail}">이메일</p>

            </div>    

        <hr>
        </section>
			<th:block th:replace="~{myPage/sideMenu}"></th:block>
        
        <section class="myPage-content">
    
            <section class="myPage-main">

                <div class="myCalender">
                    <label>나의 운동 일지</label>
                      <a href="../html/calender" id="more">더보기</a>  
                    <div id="calender"></div>  
                </div>

                <div class="mid">
                <div class="myCommunity">
                    <label>내가 쓴 커뮤니티 글</label>
                    <a href="../html/community" id="more">더보기</a>
                    <br>
                    <div id="myCommunityList"></div>
                </div>

                <div class="myKin">
                    <label>내가 쓴 지식in 글</label>
                    <a href="../html/kin" id="more">더보기</a>
                    <div id="myKinList"></div>
                </div>
              </div>
                <div class="myShorts">
                    <label>내가 올린 쇼츠</label>
                    <a href="../html/shorts" id="more">더보기</a>
                    <div id="shorts">

                    </div>

                </div>
                
            </section>

        </section>

    </main>

	<th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/myPage/myPage.js"></script>

</body>
</html>