#calculator {
    width : 500px;
    height : 100px;
    background-color: rgb(253, 244, 5);
    border : 1px solid black;
    border-radius: 5px;
}

input {
    margin : 1px 1px;
}

p {
    width : 500px;
    height : 20px;
    margin : 5px 1px;
    background-color: blanchedalmond;
    border: 1px solid rebeccapurple;
    border-radius : 5px;
    
}

button {
    background-color: skyblue;
    border : 0.5px solid black;
    margin : 10px 5px;
    border-radius: 5px;
    
}

span { 
    background-color: aqua;
}